{% extends 'base.html' %}


{% block content %}
<body>
<div class="container">
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Регистрация</h2>
            <form method="post">
                <!-- Имя пользователя -->
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <!-- Электронная почта -->
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <!-- Пароль -->
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                </div>
                <!-- Кнопка для отправки формы -->
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
    </div>
</div>
<!-- Подключение Bootstrap JavaScript и зависимостей -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

{% endblock %}